---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';

// get semua content 
import { getCollection } from 'astro:content';
const posts = (await getCollection('aktiviti')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<article>
					<div class="links-container px-5">
						<div class="links" style="display:flex;flex-direction:column-reverse">
							<!-- display semua content -->
							<!-- TODO jadikan content card -->
							{
								posts.map((post) => (
									<div class="links">
										<FormattedDate date={post.data.pubDate} />
										<a class="pl-3" href={`/aktiviti/${post.slug}/`}>{post.data.title}</a>
									</div>
								))
							}
						</div>
					</div>
				</article>
			</section>
		</main>
		<Footer />
	</body>
</html>
